.form_control {
    margin: 2rem auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  .form_control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .form_control input {
    font: inherit;
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.15rem;
    margin-bottom: 0.5rem;
  }
  
  .form_control input:focus {
    outline: none;
    background: #fad0ec;
    border-color: #8b005d;
  }

  .invalid_label {
    color: red;
  }
  
  .invalid_input {
    border-color: red;
    background: red ;
  }